/* 
selector{
propiedad: valor;

}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: black;
}

main.Home {
    background-color: black;
    color: white;
}

.conteinerprincipal {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.hometitulo {
    font-size: 3rem;
    text-align: center;
}

.conteinerprincipal .titulos h2 {
    font-size: 2rem;
    text-align: center;
}

.imagenprincipal {
    width: 100vw;
    height: 50vw;
    padding: 10px;
}

.textohome {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.invertir {
    width: 80%;
    height: 100%;
    padding: 40px;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.invertir:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px gray;
}

.textohome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.textohome .invertir p {
    text-align: justify;
    font-size: 0.8rem;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 0.8rem;
    text-align: center;
}

.nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 99vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotrosHome p {
    text-align: justify;
    font-size: 0.8rem;
    margin: 20px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
}

.boton {
    color: #EC9720;
    font-size: 0.8rem;
}

.Home h3 {
    font-size: 1rem;
    text-align: center;
}

.img1 {
    width: 20vw;
    height: 15vw;
}

span {
    color: #EC9720;
}

.visionymision h3 {
    text-align: start;
    margin: 10px;
    padding: 5px;
}

.visionymision p {
    text-align: justify;
    margin: 15px;
    font-size: 0.8rem;
}

footer {
    padding: 20px;
    border-top: 5px solid #EC9720;
    text-align: center;
}

.footerdiv div p {
    line-height: 10px;
    text-align: center;
}

.accordion {
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-bg:#EC9720 ;
    --bs-accordion-border-radius: none;
    --bs-accordion-border-width: 0.1px;
    --bs-accordion-border-color: gray;
}

.quienessomos .imgteam {
    width: 100vw;
    height: 60vw;
}

.quienessomos p {
    padding: 20px;
    text-align: justify;
    font-size: 0.8rem;
}
.quehacemos {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    margin: 20px;
}
.imagenquehacemos{
    width: 60vw;
    height: 30vw;
}

.quehacemos div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.quehacemos div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px gray;
}

.quehacemos p {
    font-size: 0.8rem;
    padding: 5px;
    text-align: justify;
}

.integrantesequipo {
    gap: 20px;
}

.integrantesequipo .equipo {
    width: 30vw;
    height: 30vw;
}

.integrantesequipo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid #EC9720;
}
.integrantesequipo strong{
    padding: 10px;
}

.integrantesequipo div p {
    font-size: 0.8rem;
    text-align: justify;
}

form {
    padding: 10px;
}

label {
    font-size: 0.8rem;
}

::placeholder {
    font-size: 0.8rem;
}

.formulariocontacto {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    width: 90vw;
    margin-top: 5px;
}

.formulariocontacto {
    width: 70vw;

}

.Contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoncontacto {
    display: flex;
    justify-content: center;
    padding: 10px;
}

h4 {
    font-size: 0.9rem;
    margin: 10px;
    text-align: center;
}

.tituloscontacto {
    border-bottom: 1px solid #EC9720;
    padding: 20px;
}

.articuloseducativos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.tituloseducacion p{
    padding: 40px;
    text-align: justify;
}

.card {
    width: 80vw;
    height: 85vw;
    background-color: black;
    box-shadow: 0px 0px 10px gray;
}

.card h5 {
    font-size: 0.8rem;
}

.card a {
    font-size: 0.8rem;
}

.articuloseducativos img {
    width: 50vw;
    height: 60vw;
    padding: 20px;
    margin-left: 50px;
}

iframe {
    width: 80vw;
    height: 70vw;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulostarifas p {
    text-align: justify;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

.categorias h5 {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px gray;
}

.categorias p {
    text-align: justify;
    padding: 30px;
}

div em {
    font-size: 6rem;
    display: grid;
    place-items: center;

}

.asesoramiento a {
    display: flex;
    justify-content: center;

}



.acordionpreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(min-width: 320px) {
    footer {
        padding: 20px;
        border-top: 5px solid #EC9720;
        text-align: start;
    }

    .footerdiv div p {
        line-height: 10px;
        text-align: start;
    }

    footer .footerdiv {
        display: grid;
        grid-template-areas: "fondos tarifas"
            "nosotros informacion"
            "contacto contacto"
            "paises paises";
        gap: 10px;
    }

    .fondosfooter {
        grid-area: fondos;
    }

    .tarifasfooter {
        grid-area: tarifas;
    }

    .aboutus {
        grid-area: nosotros;
    }

    .info {
        grid-area: informacion;
    }

    .contact {
        grid-area: contacto;
    }

    .paises {
        grid-area: paises;
    }

    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: grid;
        place-items: center;
        height: 80vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 0.8rem;
        margin: 20px;
        text-align: justify;
        background: rgba(5, 7, 12, 0.4);
        padding: 20px;
    }
    .quehacemos p {
        font-size: 0.9rem;
        padding: 5px;
        text-align: justify;
    }

    .titulostarifas p {
        text-align: justify;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
    }

    .categorias h5 {
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px gray;
    }

    .categorias p {
        text-align: justify;
        padding: 40px;
        font-size: 0.9rem;
    }

    .asesoramiento a {
        display: flex;
        justify-content: center;

    }

    .accordion {
        width: 90vw;
    }
    #accordionNosotros{
        width: 100vw;
    }

    .acordionpreguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media(min-width:350px) {
    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: grid;
        place-items: center;
        height: 65vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(min-width:400px) {
    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: grid;
        place-items: center;
        height: 50vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}


@media(min-width: 480px) {

    .hometitulo {
        font-size: 2.2rem;
        margin: 15px;
        text-align: left;
    }

    .conteinerprincipal .titulos h2 {
        font-size: 1.5rem;
        margin: 15px;
        text-align: left;
    }

    .imagenprincipal {
        width: 50vw;
        height: 25vw;
    }

    .conteinerprincipal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nosotrosHome {
        padding: 20px;
    }

    .equipohome {
        width: 100vw;
        height: 60vw;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 0.8rem;
    }

    .boton {
        color: #EC9720;
        font-size: 0.8rem;
    }


    label {
        font-size: 0.9rem;
    }

    ::placeholder {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1rem;
        margin: 10px;
    }

    .tituloscontacto h2 {
        font-size: 1rem;
    }

    .Contactanos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulariocontacto {
        width: 60vw;

    }

    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: grid;
        place-items: center;
        height: 45vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 0.9rem;
        margin: 20px;
        text-align: justify;
        background: rgba(5, 7, 12, 0.4);
        padding: 20px;
    }

    .boton {
        color: #EC9720;
        font-size: 0.9rem;
    }

    .articuloseducativos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    h2 {
        font-size: 1.1rem;
    }

    .card {
        width: 65vw;
        height: 75vw;
    }

    .card h5 {
        font-size: 0.9rem;
    }

    .card a {
        font-size: 0.9rem;
    }

    .articuloseducativos img {
        width: 50vw;
        height: 60vw;
        padding: 20px;
        margin-left: 50px;
    }

    iframe {
        width: 80vw;
        height: 70vw;
        margin-left: 45px;
    }
    .quehacemos p {
        font-size: 1rem;
        padding: 5px;
        text-align: justify;
    }

    .titulostarifas p {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    .categorias h5 {
        text-align: center;
        font-size: 1.1rem;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px gray;
    }

    .categorias p {
        text-align: justify;
        padding: 40px;
        font-size: 1rem;
    }

    div em {
        font-size: 7rem;
        display: grid;
        place-items: center;
    }

    .asesoramiento a {
        display: flex;
        justify-content: center;

    }

    .accordion {
        width: 70vw;
    }

    .acordionpreguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width:768px) {
    .hometitulo {
        font-size: 3rem;
        margin: 10px;
        text-align: left;
    }

    .conteinerprincipal .titulos h2 {
        font-size: 2rem;
        margin: 10px;
        text-align: left;
    }

    .imagenprincipal {
        width: 60vw;
        height: 30vw;
    }

    .conteinerprincipal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .invertir {
        width: 40%;
        height: 100%;
        padding: 40px;
        box-shadow: 0px 0px 10px gray;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .invertir:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 15px gray;
    }

    .textohome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .Home h3 {
        font-size: 1rem;
        text-align: center;
    }


    .visionymision {
        display: flex;
        gap: 10px;
        margin: 10px;
    }

    .visionymision h3 {
        text-align: start;
        margin: 10px;
        padding: 5px;
    }

    .visionymision p {
        text-align: justify;
        margin: 15px;
        font-size: 1rem;
    }

    footer {
        padding: 20px;
        border-top: 5px solid #EC9720;
        text-align: start;
    }

    .footerdiv div p {
        line-height: 10px;
        text-align: start;
    }

    footer .footerdiv {
        display: grid;
        grid-template-areas: "fondos tarifas nosotros"
            "informacion contacto paises";
        gap: 20px;
    }

    .fondosfooter {
        grid-area: fondos;
    }

    .tarifasfooter {
        grid-area: tarifas;
    }

    .aboutus {
        grid-area: nosotros;
    }

    .info {
        grid-area: informacion;
    }

    .contact {
        grid-area: contacto;
    }

    .paises {
        grid-area: paises;
    }

    .quienessomos p {
        padding: 20px;
        text-align: justify;
        font-size: 1rem;
    }

    .quehacemos {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 60px;
    }
    .imagenquehacemos{
        width: 50vw;
        height: 20vw;
        padding-top:15px ;
    }
    

    .quehacemos div {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 10px gray;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .quehacemos div:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 12px gray;
    }

    h2 {
        font-size: 1.2rem;
    }

    .quehacemos p {
        font-size: 1rem;
        padding: 10px;
        text-align: justify;
    }

    .integrantesequipo {
        display: grid;
        grid-template-areas: "bloque1 bloque2"
            "bloque3 bloque4";
        gap: 20px;
    }

    .integrante1 {
        grid-area: bloque1;
    }

    .integrante2 {
        grid-area: bloque2;
    }

    .integrante3 {
        grid-area: bloque3;
    }

    .integrante4 {
        grid-area: bloque4;
    }

    .integrantesequipo .equipo {
        width: 15vw;
        height: 15vw;
    }

    .integrantesequipo div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-bottom: 0.0px solid black;
    }

    .integrantesequipo div p {
        font-size: 1rem;
        text-align: justify;
    }


    label {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
        margin: 10px;
        text-align: center;
    }

    .tituloscontacto {
        border-bottom: 1px solid #EC9720;
        padding: 20px;
    }

    .tituloscontacto h2 {
        font-size: 1.1rem;
    }

    .formulariocontacto {
        width: 55vw;

    }

    .Contactanos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 1rem;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
        background: rgba(5, 7, 12, 0.4);
        padding: 20px;

    }

    .boton {
        color: #EC9720;
        font-size: 1.1rem;

    }

    .articuloseducativos {

        display: grid;
        place-items: center;
        grid-template-areas: "articulo1 articulo2"
            "articulo3 articulo4";
    }
    .tituloseducacion p{
        padding: 40px;
        text-align: justify;
        font-size: 1rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    .card {
        width: 40vw;
        height: 42vw;
    }

    .card h5 {
        font-size: 0.9rem;
    }

    .card a {
        font-size: 0.9rem;
    }

    .articuloseducativos img {
        width: 30vw;
        height: 30vw;
        padding: 10px;
    }

    iframe {
        width: 60vw;
        height: 40vw;
        margin-left: 40px;
    }

    .titulostarifas p {
        text-align: justify;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    .categorias h5 {
        text-align: center;
        font-size: 1.1rem;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px gray;
    }

    div em {
        font-size: 11rem;
        padding: 40px;
    }

    .cartera {
        display: flex;
        align-items: center
    }

    .mantenimiento {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .categorias p {
        font-size: 1rem;
        text-align: justify;
    
    }

    .asesoramiento a {
        display: flex;
        justify-content: center;
    }

    .accordion {
        width: 70vw;
    }

    .acordionpreguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width:1040px) {
    .hometitulo {
        font-size: 4.5rem;
        margin: 10px;
        text-align: left;
    }

    .conteinerprincipal .titulos h2 {
        font-size: 2.5rem;
        margin: 10px;
        text-align: left;
    }

    .imagenprincipal {
        width: 60vw;
        height: 35vw;
    }

    .conteinerprincipal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .Home h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .textohome .invertir p {
        font-size: 1rem;
    }


    .visionymision {
        height: 20vw;
        display: flex;
        align-items: center;
        gap: 20x;
        margin: 10px;
    }

    .visionymision h3 {
        text-align: start;
        margin: 10px;
        padding: 5px;
    }

    .visionymision p {
        text-align: justify;
        margin: 15px;
        font-size: 1rem;
    }

    footer {
        padding: 20px;
        border-top: 5px solid #EC9720;
        text-align: start;
    }

    .footerdiv div p {
        line-height: 10px;
        text-align: start;
    }

    footer .footerdiv {
        display: grid;
        grid-template-areas: "fondos tarifas nosotros informacion contacto"
            "paises paises paises paises paises";
        justify-content: space-around;
    }

    .fondosfooter {
        grid-area: fondos;
    }

    .tarifasfooter {
        grid-area: tarifas;
    }

    .aboutus {
        grid-area: nosotros;
    }

    .info {
        grid-area: informacion;
    }

    .contact {
        grid-area: contacto;
    }

    .paises {
        grid-area: paises;
    }

    .quehacemos {
        display: flex;
        flex-direction: row;
    }
    .imagenquehacemos{
        width: 20vw;
        height: 15vw;
        padding-top:10px ;
        }

    .quehacemos div {
        padding: 30px;
        margin: 40px;
        box-shadow: 0px 0px 10px gray;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    h2 {
        font-size: 1.5rem;
    }

    .quehacemos div:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 12px gray;
    }
    .quehacemos p {
        text-align: justify;
        font-size: 1.1rem;
    }

    .integrantesequipo {
        display: flex;
        justify-content: center;
    }

    .integrantesequipo div {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .integrantesequipo .equipo {
        width: 10vw;
        height: 10vw;
    }

    .integrantesequipo strong {
        padding: 20px;
        font-size: 0.9rem;
    }

    .integrantesequipo p {
        text-align: justify;
        font-size: 0.8rem;
    }

    .nosotrosHome {
        background: linear-gradient(rgba(44, 42, 42, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 1.1rem;
        margin-top: 100px;
        margin-left: 200px;
        margin-right: 200px;
        text-align: justify;
        background: rgba(5, 7, 12, 0.4);
        padding: 20px;

    }

    .boton {
        color: #EC9720;
        font-size: 1.1rem;

    }

    .articuloseducativos {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    .tituloseducacion p{
        padding-left: 60px;
        padding-right: 60px;
        text-align: justify;
        font-size: 1.1rem;
    }

    h2 {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .card {
        height: 30vw;
    }

    .card h5 {
        font-size: 0.8rem;
    }

    .card a {
        font-size: 0.8rem;
    }

    .articuloseducativos img {
        width: 18vw;
        height: 20vw;
        padding: 10px;
    }

    iframe {
        width: 40vw;
        height: 30vw;
        margin-left: 40px;
    }

    .titulostarifas p {
        text-align: justify;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }

    .categorias h5 {
        text-align: center;
        font-size: 1.2rem;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px gray;
    }

    div em {
        font-size: 12rem;
        padding: 70px;

    }

    .cartera {
        display: flex;
        align-items: center
    }

    .categorias p {
        font-size: 1.1rem;
        text-align: justify;
    }

    .mantenimiento {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }


    .asesoramiento a {
        display: flex;
        justify-content: center;

    }

    .accordion {
        width: 45vw;
        --bs-accordion-border-width: 0px;
    }

    .acordionpreguntas {
        display: grid;
        grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
        place-items: center;

    }
}


@media(min-width:1400px) {
    .hometitulo {
        font-size: 6rem;
        margin: 10px;
        text-align: left;
    }

    .conteinerprincipal .titulos h2 {
        font-size: 2.5rem;
        margin: 15px;
        text-align: left;
    }

    .imagenprincipal {
        width: 60vw;
        height: 35vw;
    }

    .conteinerprincipal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .textohome .invertir p {
        font-size: 1.2rem;
    }

    .visionymision {
        display: flex;
        gap: 20x;
        margin: 10px;
    }

    .visionymision h3 {
        text-align: start;
        margin: 10px;
        padding: 5px;
    }

    .visionymision p {
        text-align: justify;
        margin: 15px;
        font-size: 1.2rem;
    }

    .nosotrosHome {
        background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nosotrosHome p {
        text-align: justify;
        font-size: 1.2rem;
        margin-top: 200px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 50px;
        text-align: justify;
        background: rgba(5, 7, 12, 0.4);
        padding: 20px;

    }
    .quehacemos p {
        font-size: 1.1rem;
        padding: 5px;
        text-align: justify;
    }

    .boton {
        color: #EC9720;
        font-size: 1.2rem;

    }

    .articuloseducativos {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    .tituloseducacion p{
        padding-left: 70px;
        padding-right: 70px;
        text-align: justify;
        font-size: 1.2rem;
    }

    h2 {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .card {
        width: 35vw;
        height: 25vw;
    }

    .card h5 {
        font-size: 1rem;
    }

    .card a {
        font-size: 1rem;
    }

    .articuloseducativos img {
        width: 20vw;
        height: 20vw;
        padding: 10px;
    }

    iframe {
        width: 40vw;
        height: 25vw;
        margin-left: 30px;
    }

    .titulostarifas p {
        text-align: justify;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .categorias h5 {
        text-align: center;
        font-size: 1.2rem;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 10px gray;
    }

    div em {
        font-size: 15rem;
        padding: 70px;

    }

    .cartera {
        display: flex;
        align-items: center
    }


    .categorias p {
        font-size: 1.2rem;
        text-align: justify;
    }

    .mantenimiento {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .asesoramiento p {
        text-align: justify;
        padding: 30px;
        font-size: 1.2rem;
    }

    .asesoramiento a {
        display: flex;
        justify-content: center;

    }

    .accordion {
        width: 45vw;
        --bs-accordion-border-width: 0px;
    }

    .acordionpreguntas {
        display: grid;
        grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
        place-items: center;
    }
}

.slider {
    height: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.imagenesfondos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {

        transform: translateX(0);
    }

    100% {

        transform: translateX(-250px);
    }
}




/* 

section .informacion {
    padding: 50px;
    gap: 10px;
    display: flex;
    justify-content: center;


}

section .informacion div {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

section .informacion div:hover {
    transform: scale(1.1);
}

section .informacion div p {
    padding: 20px;
    text-align: center;
}

.video {
    padding: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.video:hover {
    transform: scale(1.1);

} */