* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #EC9720;
}

main.Home {
  background-color: black;
  color: white;
}

.accordion {
  --bs-accordion-btn-bg: white;
  --bs-accordion-active-bg: #EC9720;
  --bs-accordion-border-radius: none;
  --bs-accordion-border-width: none;
  --bs-accordion-border-color: gray;
}

footer {
  padding: 20px;
  border-top: 5px solid #EC9720;
  text-align: center;
}
footer .footerdiv div p {
  line-height: 10px;
  text-align: center;
}
@media (min-width: 320px) {
  footer {
    padding: 20px;
    border-top: 5px solid #EC9720;
    text-align: start;
  }
  footer .footerdiv {
    display: grid;
    grid-template-areas: "fondos tarifas" "nosotros informacion" "contacto contacto" "paises paises";
    gap: 10px;
  }
  footer .footerdiv div p {
    line-height: 10px;
    text-align: start;
  }
  footer .footerdiv .fondosfooter {
    grid-area: fondos;
  }
  footer .footerdiv .tarifasfooter {
    grid-area: tarifas;
  }
  footer .footerdiv .aboutus {
    grid-area: nosotros;
  }
  footer .footerdiv .info {
    grid-area: informacion;
  }
  footer .footerdiv .contact {
    grid-area: contacto;
  }
  footer .footerdiv .paises {
    grid-area: paises;
  }
}
@media (min-width: 768px) {
  footer {
    padding: 20px;
    border-top: 5px solid #EC9720;
    text-align: start;
  }
  footer .footerdiv {
    display: grid;
    grid-template-areas: "fondos tarifas nosotros" "informacion contacto paises";
    gap: 20px;
  }
  footer .footerdiv div p {
    line-height: 10px;
    text-align: start;
  }
  footer .footerdiv .fondosfooter {
    grid-area: fondos;
  }
  footer .footerdiv .tarifasfooter {
    grid-area: tarifas;
  }
  footer .footerdiv .aboutus {
    grid-area: nosotros;
  }
  footer .footerdiv .info {
    grid-area: informacion;
  }
  footer .footerdiv .contact {
    grid-area: contacto;
  }
  footer .footerdiv .paises {
    grid-area: paises;
  }
}
@media (min-width: 1040px) {
  footer {
    padding: 20px;
    border-top: 5px solid #EC9720;
    text-align: start;
  }
  footer .footerdiv {
    display: grid;
    grid-template-areas: "fondos tarifas nosotros informacion contacto" "paises paises paises paises paises";
    justify-content: space-around;
  }
  footer .footerdiv div p {
    line-height: 10px;
    text-align: start;
  }
  footer .footerdiv .fondosfooter {
    grid-area: fondos;
  }
  footer .footerdiv .tarifasfooter {
    grid-area: tarifas;
  }
  footer .footerdiv .aboutus {
    grid-area: nosotros;
  }
  footer .footerdiv .info {
    grid-area: informacion;
  }
  footer .footerdiv .contact {
    grid-area: contacto;
  }
  footer .footerdiv .paises {
    grid-area: paises;
  }
}

.navbar {
  background-color: black;
}

.conteinerprincipal {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.conteinerprincipal .titulos .hometitulo {
  font-size: 3rem;
  text-align: center;
}
.conteinerprincipal .titulos h2 {
  font-size: 2rem;
  text-align: center;
}
.conteinerprincipal .imagenprincipal {
  width: 100vw;
  height: 50vw;
  padding: 10px;
}
@media (min-width: 480px) {
  .conteinerprincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .conteinerprincipal .titulos .hometitulo {
    font-size: 2.2rem;
    margin: 15px;
    text-align: left;
  }
  .conteinerprincipal .titulos h2 {
    font-size: 1.5rem;
    margin: 15px;
    text-align: left;
  }
  .conteinerprincipal .imagenprincipal {
    width: 50vw;
    height: 25vw;
  }
}
@media (min-width: 768px) {
  .conteinerprincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .conteinerprincipal .titulos .hometitulo {
    font-size: 3rem;
    margin: 20px;
    text-align: left;
  }
  .conteinerprincipal .titulos h2 {
    font-size: 1.8rem;
    margin: 20px;
    text-align: left;
  }
  .conteinerprincipal .imagenprincipal {
    width: 60vw;
    height: 30vw;
  }
}
@media (min-width: 1040px) {
  .conteinerprincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .conteinerprincipal .titulos .hometitulo {
    font-size: 4rem;
    margin: 30px;
    text-align: left;
  }
  .conteinerprincipal .titulos h2 {
    font-size: 2.5rem;
    margin: 30px;
    text-align: left;
  }
  .conteinerprincipal .imagenprincipal {
    width: 60vw;
    height: 35vw;
  }
}
@media (min-width: 1400px) {
  .conteinerprincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .conteinerprincipal .titulos .hometitulo {
    font-size: 5rem;
  }
  .conteinerprincipal .titulos h2 {
    font-size: 2.5rem;
    margin: 35px;
  }
  .conteinerprincipal .imagenprincipal {
    width: 60vw;
    height: 35vw;
  }
}

.textohome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.textohome .invertir {
  width: 80%;
  height: 100%;
  padding: 40px;
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.textohome .invertir:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px gray;
}
.textohome .invertir h3 {
  font-size: 1rem;
  text-align: center;
}
.textohome .invertir p {
  text-align: justify;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .textohome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .textohome .invertir {
    width: 40%;
    height: 100%;
    padding: 40px;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    transition: transform box-shadow 0.3s ease-in-out;
  }
  .textohome .invertir:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px gray;
  }
  .textohome .invertir h3 {
    font-size: 1.1rem;
  }
  .textohome .invertir p {
    font-size: 1rem;
  }
}
@media (min-width: 1040px) {
  .textohome .invertir p {
    font-size: 1.1rem;
  }
  .textohome .invertir h3 {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .textohome .invertir p {
    font-size: 1.2rem;
  }
}

.nosotrosHome {
  background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 99vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotrosHome p {
  text-align: justify;
  font-size: 0.8rem;
  margin: 20px;
  text-align: justify;
  background: rgba(5, 7, 12, 0.4);
  padding: 20px;
}
.nosotrosHome .boton {
  background-color: #EC9720;
  font-size: 0.8rem;
  border-radius: 15px;
}
.nosotrosHome .boton:hover {
  background-color: rgb(38, 56, 63);
}
@media (min-width: 320px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 80vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotrosHome p {
    text-align: justify;
    font-size: 0.8rem;
    margin: 20px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
  }
  .nosotrosHome .boton {
    background-color: #EC9720;
    font-size: 0.8rem;
    border-radius: 15px;
  }
}
@media (min-width: 350px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 65vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 400px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 50vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 480px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 45vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotrosHome p {
    text-align: justify;
    font-size: 0.9rem;
    margin: 20px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
  }
  .nosotrosHome .boton {
    color: #EC9720;
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotrosHome p {
    text-align: justify;
    font-size: 1rem;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
  }
  .nosotrosHome .boton {
    color: #EC9720;
    font-size: 1rem;
  }
}
@media (min-width: 1040px) {
  .nosotrosHome {
    background: linear-gradient(rgba(44, 42, 42, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotrosHome p {
    text-align: justify;
    font-size: 1.1rem;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
  }
  .nosotrosHome .boton {
    color: #EC9720;
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotrosHome p {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    text-align: justify;
    background: rgba(5, 7, 12, 0.4);
    padding: 20px;
  }
}

.visionymision {
  border-bottom: 0.5px solid gray;
}
.visionymision h3 {
  text-align: start;
  margin: 10px;
  padding: 5px;
}
.visionymision span {
  color: #EC9720;
}
.visionymision p {
  text-align: justify;
  margin: 15px;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .visionymision {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  .visionymision h3 {
    text-align: start;
    margin: 10px;
    padding: 5px;
  }
  .visionymision p {
    text-align: justify;
    margin: 15px;
    font-size: 1rem;
  }
}
@media (min-width: 1040px) {
  .visionymision {
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20x;
    margin: 10px;
  }
  .visionymision h3 {
    text-align: start;
    margin: 10px;
    padding: 5px;
  }
  .visionymision p {
    text-align: justify;
    margin: 15px;
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .visionymision p {
    text-align: justify;
    margin: 15px;
    font-size: 1.2rem;
  }
}

.fondoshome h4 {
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}
.fondoshome .fondosHome {
  display: grid;
  grid-template-areas: "fondo1 fondo2" "fondo3 fondo4";
  place-items: center;
  gap: 20px;
}
.fondoshome .fondosHome div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 60vw;
  border: 1px solid #EC9720;
}
.fondoshome .fondosHome h3 {
  font-size: 0.8rem;
}
.fondoshome .fondosHome a {
  color: #EC9720;
  text-decoration: none;
  font-size: 0.8rem;
}
.fondoshome .fondosHome .imagenesfondos2 {
  height: 20vw;
  width: 20vw;
  padding-top: 10px;
}
.fondoshome .fondosHome .fondo1 {
  grid-area: fondo1;
}
.fondoshome .fondosHome .fondo2 {
  grid-area: fondo2;
}
.fondoshome .fondosHome .fondo3 {
  grid-area: fondo3;
}
.fondoshome .fondosHome .fondo4 {
  grid-area: fondo4;
}
@media (min-width: 768px) {
  .fondoshome h4 {
    font-size: 2rem;
    padding: 20px;
  }
  .fondoshome .fondosHome {
    display: grid;
    grid-template-areas: "fondo1 fondo2" "fondo3 fondo4";
    place-items: center;
    gap: 20px;
  }
  .fondoshome .fondosHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vw;
    border: 1px solid #EC9720;
  }
  .fondoshome .fondosHome h3 {
    font-size: 1rem;
  }
  .fondoshome .fondosHome .imagenesfondos2 {
    height: 20vw;
    width: 20vw;
    padding-top: 10px;
  }
  .fondoshome .fondo1 {
    grid-area: fondo1;
  }
  .fondoshome .fondo2 {
    grid-area: fondo2;
  }
  .fondoshome .fondo3 {
    grid-area: fondo3;
  }
  .fondoshome .fondo4 {
    grid-area: fondo4;
  }
}
@media (min-width: 1040px) {
  .fondoshome .fondosHome {
    display: flex;
    justify-content: center;
  }
  .fondoshome .fondosHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vw;
    border: 1px solid #EC9720;
  }
  .fondoshome .fondosHome h3 {
    font-size: 1rem;
  }
  .fondoshome .fondosHome .imagenesfondos2 {
    height: 10vw;
    width: 10vw;
    padding-top: 10px;
  }
}

.slider {
  height: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .imagenesfondos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  animation: scroll 5s linear infinite;
}
.slider .imagenesfondos .img1 {
  opacity: 0.4;
  width: 20vw;
  height: 15vw;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250px);
  }
}

.quienessomos .imgteam img {
  width: 100vw;
}

.accordionosotros #accordionNosotros {
  width: 100vw;
}

.quehacemos {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  margin: 10px;
}
.quehacemos div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
  transition: transform box-shadow 0.3s ease-in-out;
}
.quehacemos div .imagenquehacemos {
  width: 60vw;
  height: 30vw;
}
.quehacemos div:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px gray;
}
.quehacemos div p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 5px;
}
@media (min-width: 768px) {
  .quehacemos div .imagenquehacemos {
    width: 50vw;
    height: 20vw;
    padding-top: 15px;
  }
  .quehacemos div p {
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
  }
}
@media (min-width: 1040px) {
  .quehacemos {
    display: flex;
    flex-direction: row;
  }
  .quehacemos div .imagenquehacemos {
    width: 20vw;
    height: 15vw;
    padding-top: 10px;
  }
  .quehacemos div p {
    text-align: justify;
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .quehacemos div p {
    font-size: 1.2rem;
    padding: 5px;
    text-align: justify;
  }
}

section h2 {
  font-size: 0.9rem;
  text-align: center;
}
section .integrantesequipo {
  gap: 20px;
}
section .integrantesequipo .equipo {
  width: 30vw;
  height: 30vw;
}
section .integrantesequipo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 0.5px solid #EC9720;
}
section .integrantesequipo div p {
  font-size: 0.8rem;
  text-align: justify;
}
section .integrantesequipo strong {
  padding: 10px;
}
@media (min-width: 480px) {
  section h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  section .integrantesequipo div p {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  section h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  section .integrantesequipo {
    display: grid;
    grid-template-areas: "bloque1 bloque2" "bloque3 bloque4";
    gap: 20px;
  }
  section .integrantesequipo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 0px solid black;
  }
  section .integrantesequipo p {
    font-size: 1rem;
    text-align: justify;
  }
  section .integrantesequipo .equipo {
    width: 15vw;
    height: 15vw;
  }
  section .integrante1 {
    grid-area: bloque1;
  }
  section .integrante2 {
    grid-area: bloque2;
  }
  section .integrante3 {
    grid-area: bloque3;
  }
  section .integrante4 {
    grid-area: bloque4;
  }
}
@media (min-width: 1040px) {
  section h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  section .integrantesequipo {
    display: flex;
    justify-content: center;
  }
  section .integrantesequipo div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .integrantesequipo .equipo {
    width: 10vw;
    height: 10vw;
  }
  section .integrantesequipo strong {
    padding: 20px;
    font-size: 0.9rem;
  }
  section .integrantesequipo p {
    font-size: 0.8rem;
    text-align: justify;
  }
}

.titulospaginas h1 {
  text-align: center;
  padding: 10px;
}
.titulospaginas p {
  font-size: 0.8rem;
  padding: 40px;
  text-align: justify;
}

@media (min-width: 480px) {
  .titulospaginas p {
    font-size: 1rem;
  }
}
@media (min-width: 1040px) {
  .titulospaginas p {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .titulospaginas p {
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    font-size: 1.2rem;
  }
}
.conteinerFondos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteinerFondos .cardFondo {
  width: 250px;
  height: 300px;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  margin: 20px;
}
.conteinerFondos .cardFondo .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid #EC9720;
}
.conteinerFondos .cardFondo .front {
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px gray;
}
.conteinerFondos .cardFondo .front .imagenesfondos2 {
  height: 50vw;
  width: 50vw;
}
.conteinerFondos .cardFondo .front h3 {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 30px;
}
.conteinerFondos .cardFondo .back {
  transform: rotateY(180deg);
  background: black;
  border: 1px solid #EC9720;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px gray;
}
.conteinerFondos .cardFondo .back .link {
  border-top: 1px solid #EC9720;
  height: 40px;
  line-height: 50px;
  text-align: center;
}
.conteinerFondos .cardFondo .back .link a {
  color: #EC9720;
  font-size: 0.8rem;
}
.conteinerFondos .cardFondo .back p {
  font-size: 0.8rem;
  text-align: justify;
}
.conteinerFondos .cardFondo:hover .front {
  transform: rotateY(180deg);
}
.conteinerFondos .cardFondo:hover .back {
  transform: rotateY(360deg);
}
@media (min-width: 320px) {
  .conteinerFondos .cardFondo .front .imagenesfondos2 {
    height: 30vw;
    width: 30vw;
  }
}
@media (min-width: 468px) {
  .conteinerFondos {
    display: grid;
    grid-template-areas: "fondo1 fondo2" "fondo3 fondo4";
    place-items: center;
  }
  .conteinerFondos .cardFondo {
    width: 200px;
    height: 350px;
  }
  .conteinerFondos .cardFondo .front .imagenesfondos2 {
    height: 20vw;
    width: 20vw;
  }
  .conteinerFondos .cardFondo .back .link a {
    font-size: 0.9rem;
  }
  .conteinerFondos .cardFondo .back p {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .conteinerFondos {
    display: grid;
    grid-template-areas: "fondo1 fondo2" "fondo3 fondo4";
    place-items: center;
  }
  .conteinerFondos .cardFondo {
    width: 300px;
    height: 400px;
  }
  .conteinerFondos .cardFondo .front .imagenesfondos2 {
    height: 15vw;
    width: 15vw;
  }
  .conteinerFondos .cardFondo .back .link a {
    font-size: 1rem;
  }
  .conteinerFondos .cardFondo .back p {
    font-size: 1rem;
  }
}
@media (min-width: 1040px) {
  .conteinerFondos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .conteinerFondos .cardFondo {
    width: 300px;
    height: 400px;
  }
  .conteinerFondos .cardFondo .front .imagenesfondos2 {
    height: 10vw;
    width: 10vw;
  }
  .conteinerFondos .cardFondo .front h3 {
    font-size: 1.2rem;
  }
  .conteinerFondos .cardFondo .back .link a {
    font-size: 1.1rem;
  }
  .conteinerFondos .cardFondo .back p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .conteinerFondos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .conteinerFondos .cardFondo {
    width: 300px;
    height: 400px;
  }
  .conteinerFondos .cardFondo .front .imagenesfondos2 {
    height: 10vw;
    width: 10vw;
  }
  .conteinerFondos .cardFondo .front h3 {
    font-size: 1.3rem;
  }
  .conteinerFondos .cardFondo .back .link a {
    font-size: 1.2rem;
  }
  .conteinerFondos .cardFondo .back p {
    font-size: 1.2rem;
  }
}

.titulostarifas h1 {
  text-align: center;
  padding: 10px;
}
.titulostarifas p {
  text-align: justify;
  margin: 20px;
  font-size: 0.8rem;
}

.categorias h2 {
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px gray;
}
.categorias p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 30px;
}
.categorias div em {
  font-size: 6rem;
  display: grid;
  place-items: center;
}
.categorias .asesoramiento {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorias .asesoramiento .boton {
  background-color: #EC9720;
  font-size: 0.8rem;
  border-radius: 15px;
}
.categorias .asesoramiento .boton:hover {
  background-color: rgb(38, 56, 63);
}
.categorias .acordionpreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.categorias .acordionpreguntas .accordion {
  width: 90vw;
}

@media (min-width: 320px) {
  .titulostarifas p {
    text-align: justify;
    padding: 20px;
    font-size: 0.9rem;
  }
  .categorias p {
    text-align: justify;
    padding: 40px;
    font-size: 0.9rem;
  }
}
@media (min-width: 480px) {
  .titulostarifas p {
    text-align: justify;
    font-size: 1rem;
  }
  .categorias h2 {
    font-size: 1.1;
    text-align: center;
  }
  .categorias p {
    text-align: justify;
    padding: 40px;
    font-size: 1rem;
  }
  .categorias div em {
    font-size: 7rem;
    display: grid;
    place-items: center;
  }
  .categorias .asesoramiento .boton {
    background-color: #EC9720;
    font-size: 0.9rem;
    border-radius: 15px;
  }
  .categorias .asesoramiento .boton:hover {
    background-color: rgb(38, 56, 63);
  }
  .categorias .acordionpreguntas .accordion {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  .titulostarifas p {
    text-align: justify;
    margin: 20px;
    font-size: 1rem;
  }
  .categorias h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  .categorias div em {
    font-size: 11rem;
    padding: 40px;
  }
  .categorias div p {
    font-size: 0.9rem;
    padding-top: 60px;
  }
  .categorias .asesoramiento .boton {
    background-color: #EC9720;
    font-size: 1rem;
    border-radius: 15px;
  }
  .categorias .asesoramiento .boton:hover {
    background-color: rgb(38, 56, 63);
  }
  .categorias .cartera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .categorias .mantenimiento {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1040px) {
  .titulostarifas p {
    text-align: center;
    margin: 20px;
    font-size: 1.1rem;
  }
  .categorias h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .categorias p {
    font-size: 1.1rem;
  }
  .categorias div em {
    font-size: 12rem;
    padding: 70px;
  }
  .categorias div p {
    font-size: 1.1rem;
    margin: 20px;
  }
  .categorias .asesoramiento .boton {
    background-color: #EC9720;
    font-size: 1.1rem;
    border-radius: 15px;
  }
  .categorias .asesoramiento .boton:hover {
    background-color: rgb(38, 56, 63);
  }
  .categorias .acordionpreguntas {
    display: grid;
    grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
    place-items: center;
  }
  .categorias .acordionpreguntas .accordion {
    width: 45vw;
    --bs-accordion-border-width: 0px;
  }
}
@media (min-width: 1400px) {
  .titulostarifas p {
    font-size: 1.2rem;
  }
  .categorias h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .categorias div em {
    font-size: 15rem;
    padding: 70px;
  }
  .categorias p {
    font-size: 1.2rem;
  }
  .categorias .asesoramiento .boton {
    background-color: #EC9720;
    font-size: 1.2rem;
    border-radius: 15px;
  }
  .categorias .asesoramiento .boton:hover {
    background-color: rgb(38, 56, 63);
  }
}
.titulospaginas h1 {
  text-align: center;
  padding: 10px;
}
.titulospaginas p {
  text-align: justify;
  margin: 20px;
  font-size: 0.8rem;
}

.articuloseducativos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.articuloseducativos .card {
  width: 80vw;
  height: 85vw;
  background-color: black;
  box-shadow: 0px 0px 10px gray;
}
.articuloseducativos .card img {
  width: 50vw;
  height: 60vw;
  padding: 20px;
  margin-left: 50px;
}
.articuloseducativos .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articuloseducativos .card-body strong {
  font-size: 0.8rem;
  padding-bottom: 20px;
}
.articuloseducativos .card-body a {
  font-size: 0.8rem;
}

@media (min-width: 480px) {
  .titulospaginas p {
    font-size: 1rem;
    padding: 30px;
  }
  .articuloseducativos .card {
    width: 65vw;
    height: 75vw;
  }
  .articuloseducativos .card-body strong {
    font-size: 0.9rem;
  }
  .articuloseducativos .card-body a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1040px) {
  .titulospaginas p {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    font-size: 1.1rem;
  }
  .articuloseducativos {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .articuloseducativos .card {
    width: 30vw;
    height: 35vw;
  }
  .articuloseducativos .card img {
    width: 18vw;
    height: 20vw;
    padding: 10px;
  }
  .articuloseducativos .card-body strong {
    font-size: 0.9rem;
  }
  .articuloseducativos .card-body a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1400px) {
  .titulospaginas p {
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    font-size: 1.2rem;
  }
  .articuloseducativos {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .articuloseducativos .card {
    width: 35vw;
    height: 25vw;
  }
  .articuloseducativos .card img {
    width: 20vw;
    height: 20vw;
    padding: 10px;
  }
  .articuloseducativos .card-body strong {
    font-size: 1rem;
  }
  .articuloseducativos .card-body a {
    font-size: 1rem;
  }
}
.tituloscontacto {
  border-bottom: 1px solid #EC9720;
  padding: 20px;
}
.tituloscontacto h1 {
  text-align: center;
  padding: 10px;
}
.tituloscontacto h2 {
  font-size: 0.8rem;
  text-align: center;
}

h4 {
  font-size: 0.9rem;
  margin: 10px;
  text-align: center;
}

.Contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Contactanos div .formulariocontacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 70vw;
  margin-top: 5px;
}
.Contactanos div label {
  font-size: 0.8rem;
}
.Contactanos div ::placeholder {
  font-size: 0.8rem;
}
.Contactanos .botoncontacto .boton {
  background-color: #EC9720;
  font-size: 0.8rem;
  border-radius: 15px;
}
.Contactanos .botoncontacto .boton:hover {
  background-color: rgb(38, 56, 63);
}

@media (min-width: 480px) {
  .tituloscontacto h2 {
    font-size: 1rem;
    text-align: center;
  }
  h4 {
    font-size: 1rem;
  }
  .Contactanos div .formulariocontacto {
    width: 60vw;
  }
  .Contactanos div label {
    font-size: 0.9rem;
  }
  .Contactanos div ::placeholder {
    font-size: 0.9rem;
  }
  .Contactanos .botoncontacto .boton {
    background-color: #EC9720;
    font-size: 0.9rem;
    border-radius: 15px;
  }
  .Contactanos .botoncontacto .boton:hover {
    background-color: rgb(38, 56, 63);
  }
}
@media (min-width: 768px) {
  .tituloscontacto h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  h4 {
    font-size: 1rem;
  }
  .Contactanos div .formulariocontacto {
    width: 55vw;
  }
  .Contactanos div label {
    font-size: 1rem;
  }
  .Contactanos div ::placeholder {
    font-size: 1rem;
  }
  .Contactanos .botoncontacto .boton {
    background-color: #EC9720;
    font-size: 1rem;
    border-radius: 15px;
  }
  .Contactanos .botoncontacto .boton:hover {
    background-color: rgb(38, 56, 63);
  }
}
@media (min-width: 1400px) {
  .tituloscontacto h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  h4 {
    font-size: 1.2rem;
  }
  .Contactanos div .formulariocontacto {
    width: 50vw;
  }
  .Contactanos div label {
    font-size: 1.2rem;
  }
  .Contactanos div ::placeholder {
    font-size: 1.1rem;
  }
  .Contactanos .botoncontacto .boton {
    background-color: #EC9720;
    font-size: 1.1rem;
    border-radius: 15px;
  }
  .Contactanos .botoncontacto .boton:hover {
    background-color: rgb(38, 56, 63);
  }
}

/*# sourceMappingURL=styles.css.map */
