
.articuloseducativos {

    @include Flexcompleto(flex, column, center, center);
    padding: 20px;
    gap: 10px;

    .card {
        @include Flexcompleto(flex, column, center, center);
        width: 80vw;
        height: 90vw;
        background-color: black;
        border: 1px solid gray;


        img {
            width: 38vw;
            height: 18vh;
            padding: 20px;

        }
    }

    .card-body {
        @include Flexalign(flex, column, center);


        strong {
            margin-top: 10px;
            font-size: 0.9rem;

        }

        a {
            font-size: 0.9rem;
            padding: 10px 15px;
            margin-top: 20px;

        }
    }
}


@media (min-width:480px) {
    .titulospaginas {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.3rem;
        }

        .boton {
            @include boton ($color-terciario, 1.3rem, 15px);
        }
    }

    .articuloseducativos {
        display: grid;
        grid-template-areas: "articulo1 articulo2" "articulo3 articulo4";
        .card {
            width: 40vw;
            height: 45vh;

            img {
                width: 22vw;
                height: 20vh;
                
    
            }
        }

        .card-body {
            strong {
                font-size: 1rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width:768px) {


    .articuloseducativos {
        
        .card {
            
            width: 35vw;
            height: 44vh;

            img {
                width: 15vw;
                height: 20vh;


            }
        }

        .card-body {
            strong {
                font-size: 1rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width:1040px) {
    .titulospaginas {
        h1 {
            font-size: 4rem;
        }

        p {

            font-size: 1.4rem;
        }

        .boton {
            @include boton ($color-terciario, 1.2rem, 15px);
        }
    }

    .articuloseducativos {
        margin-top: 40px;
        @include Flexjustify(flex, row, center);

        .card {
            width: 25vw;
            height: 45vh;


            img {
                width: 8vw;
                height: 18vh;


            }
        }

        .card-body {
            strong {
                font-size: 0.9rem;
            }

            a {
                font-size: 0.9rem;
            }
        }

    }

}

@media (min-width:1400px) {
    .titulospaginas {
        h1 {
            font-size: 5rem;
        }

        p {

            font-size: 1.5rem;
        }
    }

    .articuloseducativos {

        @include Flexcompleto(flex, row, center, center);
        .card {
            width: 20vw;
            height: 45vh;


            img {
                width: 10vw;
                height: 20vh;


            }
        }

        .card-body {
            strong {
                font-size: 1.1rem;
            }

            a {
                font-size: 1.1rem;
            }
        }
    }
}