.background-container {

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: 1;
    }

    .overlayhome {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }


    .titulos {
        padding-left: 20px;
        position: relative;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
        width: 70vw;


        h1 {
            
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
           
            
            
        }

        .boton {
            @include boton ($color-terciario, 1rem, 15px);
            padding: 15px 50px;
            text-decoration: none;
            text-align: center;
            

        }
    }

    @media(min-width:480px) {

        .titulos {
            h1 {
                font-size: 2.5rem;

            }

            p {
                font-size: 1.3rem;

            }
        }
    }

    @media(min-width:768px) {


        div {
            .boton {
                @include boton ($color-terciario, 1.1rem, 15px);

            }
        }
    }

    @media(min-width:1040px) {



        .titulos {

            h1 {
                font-size: 4rem;
                
            }

            p {
                font-size: 1.4rem;

            }
        }

        div {
            .boton {
                @include boton ($color-terciario, 1.2rem, 15px);

            }
        }
    }

    @media(min-width:1400px) {

        .titulos {
            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 1.5rem;
            }

        }

        div {
            .boton {
                @include boton ($color-terciario, 1.4rem, 15px);

            }

        }
    }
}



.textohome {
    @include Flexalign(flex, column, center);
    gap: 20px;



    .invertir {
        h2 {

            border: none;
        }

        width: 250px;
        height: 280px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid gray;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        h2 {
            @include h2 (1.2rem, center);
        }

        p {
            text-align: center;
            font-size: 0.8rem;
            padding: 10px;
        }
    }

    @media(min-width: 480px) {
        .invertir {
            height: 230px;
            width: 400px;
        }

        @media(min-width: 768px) {
            @include Flexjustify(flex, row, center);

           

            .invertir {
                width: 360px;
                height: 300px;
                padding: 20px;

                p {
                    font-size: 1rem;
                }
            }
        }

        @media(min-width: 1040px) {
            .invertir {
                width: 500px;
                height: 250px;

                p {
                    font-size: 1.1rem;
                }

                h2 {
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }

        @media (min-width:1400px) {
            .invertir {
                width: 600px;
                height: 280px;

                p {
                    font-size: 1.2rem;
                }
            }
        }


    }
}

.nosotrosHome {
    background: linear-gradient(rgba(16, 16, 16, 0.853), rgba(27, 27, 27, 0.8)), url(../images/business-hands-joined-together-teamwork.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 50vh;
    padding: 30px;
    @include Flexalign(flex, column, center);

    p {
        text-align: center;
        font-size: 0.8rem;
        
    }

    .boton {
        padding: 15px 50px;
        @include boton ($color-terciario, 0.8rem, 15px);
    }

    

    @media(min-width:480px) {

        


        p {

            font-size: 0.9rem;

        }

        .boton {
            font-size: 0.9rem;
        }
    }

    @media(min-width:768px) {




        p {

            font-size: 1rem;
            margin-top: 100px;
            margin-left: 50px;
            margin-right: 50px;

        }

        .boton {

            font-size: 1rem;

        }
    }

    @media(min-width: 1040px) {
        

        p {

            font-size: 1.1rem;
            margin-top: 100px;
            margin-left: 200px;
            margin-right: 200px;


        }

        .boton {

            font-size: 1.1rem;
        }
    }

    @media(min-width: 1400px) {
      

        p {

            font-size: 1.2rem;
            margin-top: 200px;
            margin-left: 300px;
            margin-right: 300px;
            margin-bottom: 50px;


        }
    }
}

.visionymision {
    h3 {
        text-align: start;
        margin: 10px;
        padding: 5px;
    }

    span {
        color: $color-terciario;
    }

    p {
        text-align: left;
        margin: 15px;
        font-size: 0.8rem;
        padding-right: 20px;
    }

    @media(min-width: 768px) {
        @include Flexcompleto(flex, row, center, center);
        gap: 10px;
        margin: 10px;

        h3 {
            text-align: start;
            margin: 10px;
            padding: 5px;
        }

        p {

            font-size: 1rem
        }
    }

    @media(min-width: 1040px) {
        height: 20vw;
        @include Flexcompleto(flex, row, center, center);
        gap: 20x;
        margin: 10px;

        h3 {
            text-align: start;
            margin: 10px;
            padding: 5px
        }

        p {
            text-align: left;
            margin: 15px;
            font-size: 1.1rem;
        }
    }

    @media(min-width: 1400px) {

        p {
            text-align: left;
            margin: 15px;
            font-size: 1.2rem;
        }
    }
}

.fondoshome {
    h4 {
        font-size: 1.2rem;
        padding: 20px;
        text-align: center;
    }

    .fondosHome {
        @include Flexcompleto(flex, column, center, center);

        div {
            @include Flexcompleto(flex, column, center, center);
            width: 250px;

            height: 300px;
            border: 1px solid $color-terciario;
        }

        h3 {
            font-size: 0.8rem;
        }

        a {
            color: $color-terciario;
            text-decoration: none;
            font-size: 0.8rem;
        }

        .imagenesfondos2 {
            height: 100px;
            width: 80px;
            padding-top: 10px;
        }


        gap:15px;


    }

    @media(min-width:768px) {
        h4 {
            font-size: 2rem;
            padding: 20px
        }

        .fondosHome {
            div {
                @include Flexcompleto(flex, column, center, center);
                width: 250px;
                height: 350px;

            }

            h3 {
                font-size: 1.2rem;
            }


            display: grid;
            grid-template-areas: "fondo1 fondo2" "fondo3 fondo4";
            place-items: center;

        }

        .fondo1 {
            grid-area: fondo1;
        }

        .fondo2 {
            grid-area: fondo2;
        }

        .fondo3 {
            grid-area: fondo3;
        }

        .fondo4 {
            grid-area: fondo4;
        }
    }

    @media(min-width:1040px) {

        .fondosHome {
            display: flex;
            flex-direction: row;

        }

    }

}

.slider {
    height: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;

    .imagenesfondos {
        @include Flexjustify(flex, row, center);
        gap: 20px;
        padding: 50px;
        animation: scroll 5s linear infinite;

        .img1 {
            opacity: 0.4;
            width: 20vw;
            height: 15vw;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-250px);
            }
        }
    }
}