.background-container {

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .background-imagen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: 1;
    }

    .overlaytarifas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(31, 30, 29, 0.801);
        z-index: 2;
    }

    .titulospaginas {
        position: relative;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);

        h1 {

            font-size: 2.5rem;
            margin-left: 20px;
        }

        p {

            width: 70vw;
            font-size: 1.2rem;
            margin-left: 20px;
            margin-top: 20px
        }

    }
}

.categorias {

    h2 {
        @include h2(1.2rem, center);
        padding: 20px;
        border-bottom: 1px solid gray; 
        border-top: 1px solid gray;
       
    }

    p {
        font-size: 0.8rem;
        text-align: justify;
        padding: 30px;
    }

    div {


        em {
            font-size: 6rem;
            display: grid;
            place-items: center;
        }
    }

    .asesoramiento {
        @include Flexalign(flex, column, center);

        .boton {
            padding: 15px 50px;
            @include boton($color-terciario, 0.8rem, 15px);
        }
    }


}

.preguntasfrecuentes {
   h2{
    @include h2 (1.2rem, center);
    padding: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
   }
    .acordionpreguntas {
        @include Flexalign(flex, column, center);
        gap: 20px;

        .accordion {
            width: 90vw;
        }
    }

}


@media (min-width:480px) {
    .background-container {
        .titulospaginas {

            h1 {
                font-size: 3rem;

            }

            p {

                font-size: 1.3rem;
            }
        }

    }


    .categorias {
        

        p {
            text-align: justify;
            padding: 40px;
            font-size: 1rem;
        }

        div {
            em {
                font-size: 7rem;
                display: grid;
                place-items: center;

            }
        }

        .asesoramiento {
            .boton {
                @include boton($color-terciario, 0.9rem, 15px)
            }
        }
    }

    .preguntasfrecuentes {
        .acordionpreguntas {
            .accordion {
                width: 70vw;
            }
        }

    }
}

@media (min-width:768px) {

    .categorias {
       

        div {

            em {
                font-size: 11rem;
                padding: 40px;
            }

            p {
                font-size: 0.9rem;
                padding-top: 60px
            }
        }

        .asesoramiento {
            .boton {
                @include boton($color-terciario, 1rem, 15px)
            }
        }

        .cartera {
            @include Flexcompleto(flex, row, center, center);

        }

        .mantenimiento {
            @include Flexcompleto(flex, row-reverse, center, center);
        }
    }
}

@media (min-width:1040px) {

    .background-container {
        .titulospaginas {

            h1 {
                font-size: 4rem;

            }

            p {
                font-size: 1.4rem;
            }
        }

    }



    .categorias {
       

        p {
            font-size: 1.1rem;
        }

        div {
            em {
                font-size: 12rem;
                padding: 70px;
            }

            p {
                font-size: 1.1rem;
                margin: 20px;
            }
        }

        .asesoramiento {
            .boton {
                @include boton($color-terciario, 1.1rem, 15px)
            }
        }

       

    }
    .preguntasfrecuentes {
        .acordionpreguntas {
            display: grid;
            grid-template-areas: "pregunta1 pregunta2" "pregunta3 pregunta4" "pregunta5 pregunta6";
            place-items: center;

            .accordion {
                width: 45vw;

            }
        }

    }
}

@media (min-width:1400px) {

    .background-container {
        .titulospaginas {

            h1 {
                font-size: 5rem;
            }


            p {
                font-size: 1.5rem;

            }
        }

    }


    .categorias {
        

        div {
            em {
                font-size: 15rem;
                padding: 70px;
            }
        }

        p {
            font-size: 1.2rem;
        }

        .asesoramiento {
            .boton {
                @include boton($color-terciario, 1.2rem, 15px)
            }
        }
    }

}