.accordion {
    --bs-accordion-btn-bg: white;
    --bs-accordion-active-bg: #EC9720;
    --bs-accordion-border-radius: none;
    --bs-accordion-border-width: none;
    --bs-accordion-button-padding-y: none;
    --bs-accordion-button-padding-x: none;
   
}